html {
  background-color: #c9b5ab;
}

h1 {
  font-family: 'PT Sans', sans-serif;
  color: #3f1622;
}

h2 {
  font-family: 'PT Sans', sans-serif;
  color: #3f1622;
}

nav ol {
  font-family: 'PT Sans', sans-serif;
  color: #8f2440;
  font-size: 1.125rem;
  font-weight: bold;
}

figcaption {
  font-style: italic;
  font-size: 1.125rem;
  text-align: center;
}

p {
  font-family: 'PT Serif', serif;
  font-size: 1.125rem;
}

.bolded {
  font-family: 'PT Serif', serif;
  font-weight: bold;
  font-size: 1.125rem;
}

blockquote p {
  font-size: 1.5rem;
  font-style: italic;
}

ul li {
  font-family: 'PT Serif', serif;
  font-size: 1.125rem;
  text-decoration: none;
}
